@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;900&display=swap');
@font-face {
  font-family: 'montserrat';
  src: url('../webfonts/ArbFonts.com/ArbFONTS-Montserrat-Arabic-Regular.ttf');
}
* {
  margin: 0;
  padding: 0;
  line-height: 32px;
  box-sizing: border-box;
  direction: rtl;
  scroll-behavior: smooth;
  font-family: 'montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent;
}
.apexcharts-legend-text {
  font-family: 'montserrat', sans-serif !important;
}
body {
  overflow-x: hidden;
  position: relative;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
:target {
  scroll-margin-top: 80px;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  // height: 300px;
  border-radius: 12px;
}
.modal {
  padding: 12px;
  &::-webkit-scrollbar {
    display: none;
  }
}
header {
  padding: 0 12px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 999;
  nav {
    width: 100%;
    height: 80px;
    .container {
      background: #fafafa;
      height: 100%;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      padding: 8px 16px;
      .logo {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          a {
            font-family: 'Cinzel', serif !important;
            color: #000;
          }
        }
      }
      .nav-links {
        display: flex;
        height: 100%;
        background: #fafafa;
        transition: all .3s ease-in-out;
        ul {
          display: flex;
          li {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px 24px;
            a {
              color: #000;
              font-size: 14px;
              position: relative;
              transition: all .3s ease-in-out;
              &::after {
                transition: all .3s ease-in-out;
                content: '';
                position: absolute;
                bottom: 0;
                height: 2px;
                width: 0;
                left: 50%;
                transform: translateX(-50%);
                background: #d61842;
              }
              &.active,
              &:hover {
                color: #d61842;
                &::after {
                  width: 100%;
                }
              }
            }
          }
          .hidden {
            display: none;
          }
        }
        @media (max-width: 992px) {
          position: absolute;
          top: 84px;
          right: 0;
          height: 0;
          overflow: hidden;
          border-radius: 8px;
          justify-content: center;
          align-items: center;
          ul {
            flex-direction: column;
            li {
              padding: 0 40px;
              height: 50px;
            }
          }
          &.show {
            height: 250px;
          }
          .hidden {
            display: flex !important;
            align-items: center;
            justify-content: center;
            height: 50px;
            background: #d61842;
            a {
              color: #fff;
              font-size: 14px;
              i {
                transform: rotate(-90deg);
              }
            }
          }
        }
      }
      .left-side {
        height: 100%;
        display: flex;
        ul {
          display: flex;
          li {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px;
            .vendor {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 8px;
              .img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
                img {
                  max-height: 40px;
                }
                a {
                  position: absolute;
                  right: 0;
                  bottom: 0;
                  width: 28px;
                  height: 28px;
                  border-radius: 50%;
                  background-color: #d61842;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  transition: all .4s ease-in-out;
                  i {
                    color: #fff;
                  }
                }
              }
              .vendor-name {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 4px;
                h6 {
                  line-height: 24px;
                  margin: 0;
                  a {
                    color: #000;
                    line-height: inherit;
                    font-size: 16px;
                  }
                }
                p {
                  margin: 0;
                  font-size: 12px;
                  line-height: normal;
                }
              }
              @media (max-width: 576px) {
                display: none;
              }
            }
            .toogler {
              display: none;
              cursor: pointer;
              width: 30px;
              height: 30px;
              flex-direction: column;
              justify-content: center;
              gap: 6px;
              span {
                width: 30px;
                height: 2px;
                background: #d61842;
                display: block;
                transition: all 0.25s ease-in-out;
                &:nth-child(1) {
                  width: 30px;
                }
                &:nth-child(2) {
                  width: 22px;
                }
                &:nth-child(3) {
                  width: 14px;
                }
              }
              @media (max-width: 992px) {
                display: flex;
              }
              &.close {
                span {
                  &:nth-child(1) {
                    transform: rotate(-45deg);
                    transform-origin: 90% 10%;
                  }
                  &:nth-child(2) {
                    opacity: 0;
                  }
                  &:nth-child(3) {
                    transform-origin: 90% 90%;
                    transform: rotate(45deg);
                    width: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
main {
  padding: 0 12px;
  .main-sidebar {
    transition: all .5s ease-in-out;
    ul {
      gap: 2%;
      display: flex;
      li {
        width: 49%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        border-radius: 12px;
        button {
          border-radius: 12px !important;
          padding: 32px 16px;
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: center;
          gap: 8px;
          background: none !important;
          color: #000;
          font-weight: 500;
          font-size: 24px;
          position: relative;
          overflow: hidden;
          @media (max-width: 576px) {
            font-size: 18px;
          }
          &:hover {
            color: #000;
          }
          img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            z-index: -1;
            filter: grayscale(1);
            background-color: #fff2da;
          }
          &.active {
            img {
              filter: grayscale(0);
            }
            color: #d61842 !important;
          }
        }
        &:nth-child(1) {
          button img {
            object-position: bottom right;
          }
        }
        &:nth-child(2) {
          button img {
            object-position: bottom left;
          }
        }
      }
    }
  }
  .wrapper {
    padding: 20px 0;
    width: 100%;
    .selection_frame {
      .nav {
        border-radius: 12px;
        padding: 12px;
        background: #fafafa;
        flex-wrap: nowrap;
        overflow-x: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
        .nav-link {
          font-size: 14px;
          color: #000;
          white-space: nowrap;
          .check {
            visibility: hidden;
          }
          .delete {
            visibility: hidden;
          }
          &.active {
            background: #d61842;
            border-radius: 6px !important;
            color: #fff;
            border-bottom-color: transparent;
            .check {
              visibility: visible;
              &::after {
                border-color: #fff;
              }
              &:checked::after {
                background: #fff;
                color: #d61842;
              }
            }
            .delete {
              visibility: visible;
            }
            img {
              filter: brightness(0) invert(1);
            }
          }
          img {
            height: 32px;
          }
          .tap-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
          }
        }
      }
      .tab-content {
        padding: 20px 0 0;
        .addAll {
          padding: 32px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            padding: 8px 32px;
          }
        }
      }
    }
  }
  .static-card {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
    padding: 16px;
    border-radius: 12px;
    transition: all .3s ease-in-out;
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #fff;
      padding: 12px;
      img {
        max-height: 40px;
      }
    }
    h4 {
      font-size: 18px;
      margin: 0;
      color: #000;
    }
    p {
      color: #000;
      margin: 0;
    }
    &:hover {
      background: #d61842;
      h4 {
        color: #fff;
      }
      p {
        color: #fff;
      }
    }
  }
  .statistic-card {
    height: 100%;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
    padding: 24px;
    border-radius: 12px;
    @media (max-width: 576px) {
      padding: 16px;
    }
    h4 {
      font-size: 16px;
      color: #000;
    }
  }
  .login-section {
    background: #fff;
    height: 100vh;
    display: flex;
    .image {
      position: relative;
      width: 50%;
      @media (max-width: 768px) {
        display: none;
      }
      img {
        width: 100%;
        height: 100%;
        object-position: right;
        object-fit: cover;
      }
      .over-lay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(#00000080, #00000080);
      }
    }
    .form_wrapper {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      padding: 4rem;
      gap: 2rem;
      flex-direction: column;
      @media (max-width: 992px) {
        padding: 4rem 2rem;
      }
      @media (max-width: 768px) {
        width: 100%;
        padding: 4rem;
      }
      @media (max-width: 576px) {
        padding: 4rem 1.5rem;
      }
      h1 {
        color: #000;
        font-size: 24px;
        span {
          color: #d61842;
          font-size: 32px;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 26px;
        .input-field {
          display: flex;
          flex-direction: column;
          gap: 4px;
          label {
            font-size: 12px;
          }
          input {
            width: 100%;
            height: 50px;
            background: none;
            outline: none;
            border: 1px solid #eee;
            padding: 8px;
            direction: rtl;
            font-size: 12px;
            border-radius: 4px;
            &:focus {
              border-color: #cf112c;
            }
          }
        }
        .check-field {
          display: flex;
          align-items: center;
          gap: 8px;
          label {
            font-size: 14px;
            color: #000;
          }
          input {
            width: 16px;
            height: 16px;
            position: relative;
            appearance: none;
            &::after {
              position: absolute;
              width: 16px;
              height: 16px;
              font-family: 'FontAwesome';
              color: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 12px;
              content: '';
              border-radius: 2px;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              border: 1px solid #eee;
            }
            &:checked::after {
              background: #d61842;
              content: '\f00c';
              border-color: #d61842;
            }
          }
        }
        button {
          background: #cf112c;
          border: none;
          outline: none;
          border-radius: 4px;
          padding: 12px;
          color: #fff;
          transition: .3s ease-in-out;
          &:hover {
            background: #e2030f;
          }
        }
      }
    }
  }
  .product-image-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    position: relative;
    border-radius: 12px;
    img {
      width: 80%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: center;
    }
    @media (max-width: 992px) {
      height: 100%;
      img {
        width: 100%;
      }
      .layer {
        top: initial !important;
        bottom: 24px !important;
      }
    }
    .layer {
      background: linear-gradient(
        180deg,
        rgba(7, 23, 78, 0) 23.76%,
        #d61842 90.19%
      );
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 50px;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: 0.5s;
      opacity: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      a {
        color: #fff;
        font-weight: 600;
        font-size: 20px;
      }
    }
    &:hover {
      .layer {
        opacity: 1;
        transform: scaleY(1);
      }
    }
  }
  .product-description {
    padding: 0 12px;
    h4,
    h6,
    p {
      direction: ltr !important;
      margin-bottom: 0;
    }
    direction: ltr !important;
    a {
      font-size: 14px;
      color: #d61842;
      &:hover {
        text-decoration: underline;
      }
    }
    h4 {
      font-size: 22px;
      color: #000;
      font-weight: 600;
      margin-bottom: 8px;
    }
    .price {
      direction: ltr !important;
      display: flex;
      gap: 10px;
      p {
        margin: 0;
      }
      .new {
        font-size: 18px;
        color: #000;
        font-weight: 600;
      }
      .old {
        font-size: 14px;
        color: #777;
        text-decoration: line-through;
      }
      span {
        direction: ltr !important;
        color: #d61842;
        font-size: 12px;
      }
    }
    .color-name {
      margin-top: 1rem;
      color: #777;
      font-size: 14px;
      line-height: 22px;
    }
    .size {
      line-height: 22px;
      color: #777;
      font-size: 14px;
    }
    .color-palete {
      direction: ltr !important;
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 8px;
      h6 {
        font-size: 12px;
        color: #000;
      }
      .colors {
        display: flex;
        direction: ltr;
        gap: 12px;
        flex-wrap: wrap;
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;
          .color-selct {
            width: 36px;
            height: 36px;
            appearance: none;
            position: relative;
            background-size: cover;
            border-radius: 50%;
            cursor: pointer;
            &:after {
              content: '';
              width: 44px;
              height: 44px;
              border: 2px solid transparent;
              border-radius: 50%;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              transition: .2s ease-in-out;
            }
            &:hover {
              &::after {
                border-color: #d7d7d7;
              }
            }
            &:checked {
              &::after {
                border-color: #000;
              }
            }
          }
          &.select-all {
            width: 36px;
          }
          .check {
            &::after {
              width: 36px;
              height: 36px;
              border-color: #c5c5c5;
              color: #c5c5c5;
              font-size: 18px;
              content: '\f00c';
            }
            &:checked::after {
              border-color: #d61842;
              color: #fff;
            }
          }
        }
      }
    }
    button {
      margin-top: 16px;
    }
  }
  .highlights {
    padding: 24px 0;
    border-top: 1px solid #eeeeee;
    &:first-child {
      margin-top: 32px;
    }
    h4 {
      direction: ltr;
      color: #000;
      padding: 12px;
    }
    .hcard {
      direction: ltr;
      display: flex;
      align-items: center;
      gap: 8px;
      .icon {
        min-width: 60px;
        min-height: 60px;
        border-radius: 50%;
        background: #d61842;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          max-height: 36px;
        }
      }
      h6 {
        direction: ltr;
        font-size: 14px;
        color: #000;
        margin: 0;
      }
    }
    .about {
      padding: 0 12px;
      p {
        direction: ltr;
        color: #000;
        font-size: 14px;
        span {
          font-weight: 600;
        }
      }
    }
  }
  &.details {
    padding: .5rem 0;
  }
  .advertisments_wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 99;
    display: none;
    .close_wrap {
      position: absolute;
      right: 32px;
      width: 50px;
      height: 50px;
      cursor: pointer;
      border: 2px solid #fff;
      border-radius: 50%;
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 32px;
      i {
        font-size: 26px;
        color: #fff;
      }
    }
    .mainSlider {
      position: relative;
      overflow: hidden;
      .mainSliderContainer {
        width: 100%;
        height: 100dvh;
        .swiper-slide {
          position: relative;
          display: flex;
          background: #000;
          align-items: end;
          width: 100%;
          height: 100%;
          overflow: hidden;
          .videoContainer {
            position: absolute;
            overflow: hidden;
            z-index: 0;
            right: 0;
            top: 0;
            height: 100%;
            width: 100%;
          }
          img,
          video {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
      }
    }
  }
}
.product_frame {
  background-color: #fafafa;
  height: 100%;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  .select-pro {
    position: absolute;
    top: 8px;
    left: 16px;
    cursor: pointer;
    z-index: 9;
  }
  .controls {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    height: 50px;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    overflow: hidden;
    transition: .5s ease-in-out;
    background: rgba(255, 255, 255, .95);
    button {
      outline: none;
      border: none;
      background: none;
      i {
        color: #d61842;
      }
    }
  }
  &:hover {
    .controls {
      width: 100%;
    }
  }
  .checkall {
    position: absolute;
    top: 24px;
    left: 16px;
    z-index: 999999999;
  }
  .pro-img {
    width: 100%;
    position: relative;
    img {
      width: 100%;
      aspect-ratio: 1/1;
      -o-object-fit: contain;
      object-fit: cover;
      object-position: center;
    }
    .layer {
      background: linear-gradient(
        180deg,
        rgba(7, 23, 78, 0) 23.76%,
        #d61842 95.19%
      );
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 32px;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: 0.5s;
      opacity: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      a {
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        @media (max-width: 992px) {
          font-size: 18px;
        }
      }
      @media (max-width: 576px) {
        padding: 26px;
        a {
          font-size: 16px;
        }
      }
    }
  }
  .pro-description {
    padding: 16px;
    display: flex;
    flex-direction: column;
    direction: ltr;
    height: 100%;
    .brand_name {
      color: #d61842;
      direction: ltr;
      transition: .3s ease-in-out;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
      @media (max-width: 576px) {
        line-height: 20px;
        font-size: 12px;
      }
    }
    .product_name {
      color: #000;
      direction: ltr;
      line-height: 24px;
      margin: 0;
      margin-bottom: auto;
      font-size: 16px;
      @media (max-width: 576px) {
        line-height: 20px;
        font-size: 12px;
      }
    }
    .colors-num {
      color: #7d7d7d;
      direction: ltr;
      line-height: 24px;
      margin: 0;
      font-size: 12px;
    }
    .price {
      direction: ltr;
      font-size: 16px;
      font-weight: 600;
      color: #000;
    }
    .view-products {
      direction: ltr;
      font-size: 12px;
      color: #000;
      transition: all .3s ease-in-out;
      i {
        transition: all .3s ease-in-out;
        opacity: 0;
      }
      &:hover {
        color: #d61842;
        i {
          opacity: 1;
        }
      }
    }
    .actions {
      display: flex;
      margin-top: 16px;
      gap: 12px;
      button {
        min-width: 40px;
        height: auto;
        border: none;
        outline: none;
        background: #d61842;
        border-radius: 4px;
        i {
          color: #fff;
        }
      }
      .quantity {
        display: flex;
        border-radius: 4px;
        input {
          width: 100%;
          direction: ltr;
          text-align: center;
        }
        border: 1px solid #c5c5c5;
        button {
          background: none;
          i {
            color: #000;
          }
          border-radius: 0;
          &.plus {
            border-left: 1px solid #c5c5c5;
          }
          &.minus {
            border-right: 1px solid #c5c5c5;
          }
        }
        input {
          outline: none;
          border: none;
          background: none;
          &::-webkit-inner-spin-button {
            display: none;
          }
        }
      }
    }
  }
  &:hover {
    .pro-img .layer {
      opacity: 1;
      transform: scaleY(1);
    }
  }
}
.product-modal {
  .modal-dialog {
    max-width: 800px !important;
    .modal-body {
      .img {
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        .add-fav {
          position: absolute;
          top: 16px;
          left: 16px;
          cursor: pointer;
          i {
            color: #000;
            font-size: 20px;
          }
        }
        img {
          width: 100%;
          aspect-ratio: 1/1;
          object-fit: cover;
          object-position: center;
        }
        .layer {
          background: linear-gradient(
            180deg,
            rgba(7, 23, 78, 0) 23.76%,
            #d61842 90.19%
          );
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 50px;
          transform: scaleY(0);
          transform-origin: bottom;
          transition: 0.5s;
          opacity: 0;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-direction: column;
          a {
            color: #fff;
            font-weight: 600;
            font-size: 20px;
          }
        }
        &:hover {
          .layer {
            opacity: 1;
            transform: scaleY(1);
          }
        }
      }
      .product-description {
        p,
        h6,
        span {
          direction: ltr !important;
          display: block;
          width: 100%;
          margin: 0;
        }
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: space-between;
        .brand_name {
          color: #d61842;
          transition: .3s ease-in-out;
          font-size: 14px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &:hover {
            text-decoration: underline;
          }
          .btn-close {
            box-shadow: none !important;
          }
        }
        .product_name {
          a {
            color: #000;
            line-height: 24px;
            margin: 0;
            font-size: 16px;
            font-weight: 600;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .size {
          color: #7d7d7d;
          line-height: 24px;
          margin: 0;
          font-size: 12px;
        }
        .price h6 {
          color: #000;
          margin: 0;
          font-weight: 600;
          font-size: 16px;
        }
        .product_description {
          font-size: 14px;
          margin-bottom: 8px;
          color: #000;
          line-height: 24px;
        }
        .color-name {
          font-size: 14px;
          color: #7d7d7d;
          line-height: 24px;
        }
        .colors {
          display: flex;
          margin-top: 8px;
          direction: ltr;
          gap: 16px;
          flex-wrap: wrap;
          @media (max-width: 992px) {
            gap: 12px;
          }
          li {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 42px;
            .color-selct {
              width: 36px;
              height: 36px;
              appearance: none;
              position: relative;
              background-size: cover;
              border-radius: 50%;
              cursor: pointer;
              &:after {
                content: '';
                width: 44px;
                height: 44px;
                border: 2px solid transparent;
                border-radius: 50%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: .2s ease-in-out;
              }
              &:hover {
                &::after {
                  border-color: #d7d7d7;
                }
              }
              &:checked {
                &::after {
                  border-color: #000;
                }
              }
            }
            &.select-all {
              width: 36px;
            }
            .check {
              &::after {
                width: 36px;
                height: 36px;
                border-color: #c5c5c5;
                color: #c5c5c5;
                font-size: 18px;
                content: '\f00c';
              }
              &:checked::after {
                border-color: #d61842;
                color: #fff;
              }
            }
          }
        }
      }
      .model-footer {
        display: flex;
        direction: ltr;
        align-items: center;
        gap: 24px;
        .loves {
          color: #000;
          font-size: 14px;
        }
        .price h6 {
          color: #000;
          margin: 0;
          font-weight: 600;
          font-size: 16px;
        }
      }
    }
  }
}
.colectionsModal {
  .btn-close {
    box-shadow: none !important;
  }
  .product_frame .pro-description .product_name {
    line-height: 22px;
    font-size: 14px;
  }
}
.dlete-confirm-modal {
  .modal-dialog {
    .modal-body {
      padding: 24px;
      .icon {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          max-height: 40px;
        }
      }
      h4 {
        color: #000;
        text-align: center;
        font-size: 16px;
        margin: 4px;
      }
      p {
        font-size: 13px;
        color: #777777;
        text-align: center;
        margin-bottom: .5rem;
      }
      .modal-footer {
        padding: 16px 16px 0;
        border: 0;
        direction: ltr;
        .add_btn {
          padding: 4px 26px !important;
        }
        .cancel {
          color: #000;
          background: none;
          outline: none;
          border: none;
          padding: 4px 26px;
        }
      }
    }
  }
}
.edit-modal {
  .modal-dialog {
    .modal-body {
      padding: 24px;
      .icon {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          max-height: 40px;
        }
      }
      form {
        padding-top: 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 18px;
        .input-field {
          padding: 16px;
          width: 100%;
          border-radius: 8px;
          border: 1px solid #eeeeee;
          position: relative;
          label {
            display: block;
            position: absolute;
            background: #fff;
            top: -16px;
            color: #000;
            font-size: 14px;
            right: 12px;
          }
          input {
            outline: none;
            border: none;
            background: none;
            width: 100%;
            font-size: 13px;
            &::-webkit-inner-spin-button {
              display: none;
            }
          }
          input[type="number"] {
            text-align: center;
          }
        }
      }
      h4 {
        color: #000;
        text-align: center;
        font-size: 16px;
        margin: 4px;
      }
      p {
        font-size: 13px;
        color: #777777;
        text-align: center;
        margin-bottom: .5rem;
      }
      .modal-footer {
        padding: 16px 16px 0;
        border: 0;
        direction: ltr;
        .add_btn {
          padding: 4px 26px !important;
        }
        .cancel {
          color: #000;
          background: none;
          outline: none;
          border: none;
          padding: 4px 26px;
        }
      }
    }
  }
}
.filepond--credits {
  display: none !important;
}
/*********** Globals ***********/
.check {
  width: 16px;
  appearance: none;
  position: relative;
  cursor: pointer;
  &::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    content: "";
    font-family: "FontAwesome";
    width: 18px;
    height: 18px;
    border: 1px solid #d61842;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d61842;
  }
  &:checked::after {
    content: "\f00c";
    background: #d61842;
    font-size: 12px;
    color: #fff;
    border-color: #d61842;
  }
}
.delete {
  width: 20px;
  height: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rate {
  display: flex;
  direction: ltr;
  align-items: center;
  gap: 8px;
  .stars {
    direction: ltr;
    display: flex;
    gap: 2px;
    li i {
      color: #000;
      font-size: 14px;
    }
  }
  a {
    color: #d61842;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
}
.add_btn {
  border: none;
  outline: none;
  background: #cf112c;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .3s ease-in-out;
  &:hover {
    background: #e2030f;
  }
  &.advertising {
    width: 30%;
    margin-top: 1rem;
    @media (max-width: 576px) {
      width: 70%;
    }
  }
}
.m-tb-60 {
  margin: 60px auto;
  @media (max-width: 576px) {
    margin: 16px;
  }
}
.advertising-main {
  height: calc(100vh - 120px);
  padding: 20px 0;
  h1 {
    color: #000;
    font-size: 48px;
  }
  .uploader-lap {
    margin: 48px 0;
  }
}
.apexcharts-legend-series {
  display: flex;
  align-items: center;
  gap: 8px;
}
.apexcharts-menu-icon {
  display: none;
}
.mostusedbrands {
  .apexcharts-legend.apx-legend-position-right {
    display: none;
  }
}
.try-on-main {
  height: 100dvh;
  overflow: hidden;
  padding: 0;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  #try-on {
    height: 100%;
    width: 60%;
    background: #fff;
    @media (max-width: 576px) {
      width: 100%;
    }
    .model-wrap {
      overflow: hidden;
      height: 100%;
      border-bottom: 0;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: top;
        object-position: bottom center;
      }
      iframe {
        width: 100%;
        border-bottom: 0;
      }
      .colors-pallete {
        height: 100px;
        width: 100%;
        display: flex;
        position: absolute;
        left: 0;
        bottom: 0;
        .colors-slider {
          width: 100%;
          height: 100%;
          display: flex;
          .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 8px;
            transition: .3s ease-in-out;
            .color-holder {
              width: 45px;
              height: 45px;
              border-radius: 50%;
              &::after {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
              }
            }
            &.swiper-slide-active {
              .color-holder {
                width: 55px;
                height: 55px;
                &::after {
                  border: 4px solid #fff;
                }
              }
            }
          }
        }
      }
      .categories-brands-swipers {
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: calc(100% - 100px);
        display: grid;
        background: #fff;
        border-right: 0;
        grid-template-columns: 1fr;
        .selected_item {
          display: none;
          position: absolute;
          height: 120px;
          width: 100px;
          left: 0;
          top: 0;
          z-index: 9;
          background: #fafafa;
          .item {
            width: 100px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 8px;
            .icon img {
              mix-blend-mode: multiply;
              width: 44px;
            }
            h6 {
              font-size: 8px;
              text-transform: uppercase;
              color: #000;
              margin: 0;
            }
          }
          .expand {
            background: #f4f4f4;
            width: 100%;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
              color: #777;
              cursor: pointer;
              font-size: 18px;
            }
          }
          &.show {
            display: flex;
            flex-direction: column-reverse;
          }
        }
        .swiper {
          width: 100px;
          height: 100%;
          display: flex;
          .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
            padding: 8px;
            background-color: fff;
            gap: 8px;
            transition: .3s ease-in-out;
            .icon img {
              width: 44px;
              mix-blend-mode: multiply;
            }
            h6 {
              font-size: 8px;
              text-transform: uppercase;
              color: #000;
              margin: 0;
            }
            &:hover {
              background: #fafafa;
            }
          }
        }
        .categories-slider {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }
        .brands-slider {
          visibility: hidden;
          grid-column: 1 / 2;
          grid-row: 1 / 2;
          margin-top: 120px;
          height: calc(100% - 120px);
        }
        &.brands-show {
          .categories-slider {
            visibility: hidden;
          }
          .brands-slider {
            visibility: visible;
          }
        }
      }
      .open-model {
        position: absolute;
        right: 16px;
        top: 16px;
        button {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          background: #d61842;
          color: #fff;
          border: none;
          outline: none;
        }
      }
    }
  }
}
.add-products-cart {
  position: fixed;
  right: 32px;
  bottom: 32px;
  width: 60px;
  height: 60px;
  background: #d61842;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
  i {
    color: #fff;
    font-size: 24px;
  }
  span {
    position: absolute;
    background: #fff;
    color: #d61842;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    font-size: 12px;
    height: 18px;
    top: 10px;
    left: 10px;
  }
}
.swiper-pagination-bullet {
  background: #c5c5c5 !important;
}
.fade:not(.show) {
  opacity: 0;
  display: none;
}
footer {
  background: #f4f4f4;
  width: 100%;
  padding: 26px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0;
    direction: ltr;
    img {
      height: 20px;
    }
    i {
      color: #e2030f;
    }
    a {
      color: #5db134;
    }
  }
}
.filepond--file-info {
  align-items: baseline;
}
.filepond--file {
  display: block;
}
.advertisingForm {
  width: min(100%, 600px);
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.section-header {
  width: 100%;
  background: url('../images/banner.jpeg');
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 80px 32px;
  @media (max-width: 576px) {
    padding: 48px 24px;
  }
  h3 {
    font-size: 20px;
    display: block;
    color: #fff;
    margin: 0;
    a {
      color: #d61842;
    }
    span {
      padding: 0 8px;
    }
  }
  .goback {
    margin-left: 12px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cf112c;
    i {
      color: #fff;
      font-size: 14px;
    }
  }
}
.add-ads {
  margin-top: 48px;
  font-size: 26px;
}
.payBtn {
  width: min(100% - 24px, 500px);
}
.note {
  gap: 64px;
  display: flex;
  p {
    color: #7d7d7d;
    font-size: 14px;
  }
  span {
    color: #000;
    font-size: 14px;
    b {
      font-size: 18px;
      color: #d61842;
    }
  }
  @media (max-width: 567px) {
    justify-content: space-between;
  }
}
.add-collection-btn {
  padding: 12px 16px;
  width: 40%;
  @media (max-width: 576px) {
    width: 100%;
  }
}
.step {
  .bs-stepper-icon {
    width: 60px;
    border-radius: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d61842;
    transition: all .3s ease-in-out;
    img {
      max-height: 35px;
    }
  }
  .bs-stepper-label {
    color: #000;
  }
  &.active {
    .bs-stepper-icon {
      background: #d61842;
      img {
        filter: brightness(0) invert(1);
      }
    }
    .bs-stepper-label {
      color: #d61842;
    }
  }
}
.btn-next {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  &:hover {
    color: #fff;
  }
}
.btn-label-secondary:disabled {
  box-shadow: none;
  color: rgb(168, 170, 174) !important;
  border-color: rgba(0, 0, 0, 0) !important;
  background: rgb(242, 242, 243) !important;
}
.btn-label-secondary {
  color: rgb(168, 170, 174);
  border-color: rgba(0, 0, 0, 0);
  background: rgb(241, 241, 242);
  &:hover {
    color: rgb(168, 170, 174);
    border-color: rgba(0, 0, 0, 0);
    background: rgb(241, 241, 242);
  }
}
.btn-submit {
  &:hover {
    color: #fff;
  }
}
.content h4 {
  font-size: 16px;
  color: #000;
  margin-bottom: 16px;
}
.model-try-on {
  .modal-header {
    border-bottom: none;
    button:focus {
      box-shadow: none;
    }
  }
  .modal-body {
    padding-top: 0;
    .product_frame {
      flex-direction: row;
      @media (max-width: 576px) {
        flex-direction: column;
      }
      .pro-description {
        .size,
        .color-name {
          color: #7d7d7d;
          line-height: 20px;
          margin: 0;
          font-size: 10px;
        }
        .brand_name {
          font-size: 10px;
        }
        .product_name {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
    .add_btn {
      line-height: normal;
      font-size: 12px;
      padding: 10px 16px;
      &.cart {
        background: none;
        border: 1px solid #cf112c;
        color: #cf112c;
        &:hover {
          border-color: #e2030f;
          color: #e2030f;
        }
      }
    }
  }
}
