@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;900&display=swap");
@font-face {
  font-family: "montserrat";
  src: url("../webfonts/ArbFonts.com/ArbFONTS-Montserrat-Arabic-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  line-height: 32px;
  box-sizing: border-box;
  direction: rtl;
  scroll-behavior: smooth;
  font-family: "montserrat", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.apexcharts-legend-text {
  font-family: "montserrat", sans-serif !important;
}

body {
  overflow-x: hidden;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:target {
  scroll-margin-top: 80px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #f4f4f4;
  height: 300px;
}

.modal {
  padding: 12px;
}
.modal::-webkit-scrollbar {
  display: none;
}

header {
  padding: 0 12px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 999;
}
header nav {
  width: 100%;
  height: 80px;
}
header nav .container {
  background: #fafafa;
  height: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 8px 16px;
}
header nav .container .logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .container .logo h1 a {
  font-family: "Cinzel", serif !important;
  color: #000;
}
header nav .container .nav-links {
  display: flex;
  height: 100%;
  background: #fafafa;
  transition: all 0.3s ease-in-out;
}
header nav .container .nav-links ul {
  display: flex;
}
header nav .container .nav-links ul li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
}
header nav .container .nav-links ul li a {
  color: #000;
  font-size: 14px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
header nav .container .nav-links ul li a::after {
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #d61842;
}
header nav .container .nav-links ul li a.active, header nav .container .nav-links ul li a:hover {
  color: #d61842;
}
header nav .container .nav-links ul li a.active::after, header nav .container .nav-links ul li a:hover::after {
  width: 100%;
}
header nav .container .nav-links ul .hidden {
  display: none;
}
@media (max-width: 992px) {
  header nav .container .nav-links {
    position: absolute;
    top: 84px;
    right: 0;
    height: 0;
    overflow: hidden;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
  }
  header nav .container .nav-links ul {
    flex-direction: column;
  }
  header nav .container .nav-links ul li {
    padding: 0 40px;
    height: 50px;
  }
  header nav .container .nav-links.show {
    height: 250px;
  }
  header nav .container .nav-links .hidden {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: #d61842;
  }
  header nav .container .nav-links .hidden a {
    color: #fff;
    font-size: 14px;
  }
  header nav .container .nav-links .hidden a i {
    transform: rotate(-90deg);
  }
}
header nav .container .left-side {
  height: 100%;
  display: flex;
}
header nav .container .left-side ul {
  display: flex;
}
header nav .container .left-side ul li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
header nav .container .left-side ul li .vendor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
header nav .container .left-side ul li .vendor .img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
}
header nav .container .left-side ul li .vendor .img img {
  max-height: 40px;
}
header nav .container .left-side ul li .vendor .img a {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #d61842;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}
header nav .container .left-side ul li .vendor .img a i {
  color: #fff;
}
header nav .container .left-side ul li .vendor .vendor-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
header nav .container .left-side ul li .vendor .vendor-name h6 {
  line-height: 24px;
  margin: 0;
}
header nav .container .left-side ul li .vendor .vendor-name h6 a {
  color: #000;
  line-height: inherit;
  font-size: 16px;
}
header nav .container .left-side ul li .vendor .vendor-name p {
  margin: 0;
  font-size: 12px;
  line-height: normal;
}
@media (max-width: 576px) {
  header nav .container .left-side ul li .vendor {
    display: none;
  }
}
header nav .container .left-side ul li .toogler {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}
header nav .container .left-side ul li .toogler span {
  width: 30px;
  height: 2px;
  background: #d61842;
  display: block;
  transition: all 0.25s ease-in-out;
}
header nav .container .left-side ul li .toogler span:nth-child(1) {
  width: 30px;
}
header nav .container .left-side ul li .toogler span:nth-child(2) {
  width: 22px;
}
header nav .container .left-side ul li .toogler span:nth-child(3) {
  width: 14px;
}
@media (max-width: 992px) {
  header nav .container .left-side ul li .toogler {
    display: flex;
  }
}
header nav .container .left-side ul li .toogler.close span:nth-child(1) {
  transform: rotate(-45deg);
  transform-origin: 90% 10%;
}
header nav .container .left-side ul li .toogler.close span:nth-child(2) {
  opacity: 0;
}
header nav .container .left-side ul li .toogler.close span:nth-child(3) {
  transform-origin: 90% 90%;
  transform: rotate(45deg);
  width: 30px;
}

main {
  padding: 0 12px;
}
main .main-sidebar {
  transition: all 0.5s ease-in-out;
}
main .main-sidebar ul {
  gap: 2%;
  display: flex;
}
main .main-sidebar ul li {
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  border-radius: 12px;
}
main .main-sidebar ul li button {
  border-radius: 12px !important;
  padding: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 8px;
  background: none !important;
  color: #000;
}
main .main-sidebar ul li button:hover {
  color: #000;
}
main .main-sidebar ul li button img {
  max-height: 24px;
}
main .main-sidebar ul li button.active {
  background: #d61842 !important;
  color: #fff;
}
main .main-sidebar ul li button.active img {
  filter: brightness(0) invert(1);
}
main .wrapper {
  padding: 20px 0;
  width: 100%;
}
main .wrapper .selection_frame .nav {
  border-radius: 12px;
  padding: 12px;
  background: #fafafa;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
main .wrapper .selection_frame .nav::-webkit-scrollbar {
  display: none;
}
main .wrapper .selection_frame .nav .nav-link {
  font-size: 14px;
  color: #000;
  white-space: nowrap;
}
main .wrapper .selection_frame .nav .nav-link .check {
  visibility: hidden;
}
main .wrapper .selection_frame .nav .nav-link.active {
  background: #d61842;
  border-radius: 6px !important;
  color: #fff;
  border-bottom-color: transparent;
}
main .wrapper .selection_frame .nav .nav-link.active .check {
  visibility: visible;
}
main .wrapper .selection_frame .nav .nav-link.active .check::after {
  border-color: #fff;
}
main .wrapper .selection_frame .nav .nav-link.active .check:checked::after {
  background: #fff;
  color: #d61842;
}
main .wrapper .selection_frame .nav .nav-link.active img {
  filter: brightness(0) invert(1);
}
main .wrapper .selection_frame .nav .nav-link img {
  height: 28px;
}
main .wrapper .selection_frame .nav .nav-link .tap-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
main .wrapper .selection_frame .tab-content {
  padding: 48px 0;
}
main .wrapper .selection_frame .tab-content .brands {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
main .wrapper .selection_frame .tab-content .brands h3 {
  color: #000;
  font-size: 20px;
}
main .wrapper .selection_frame .tab-content .brands ul {
  display: flex;
  overflow-x: scroll;
  gap: 16px;
}
main .wrapper .selection_frame .tab-content .brands ul::-webkit-scrollbar {
  display: none;
}
main .wrapper .selection_frame .tab-content .brands ul li label {
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  display: block;
  padding: 4px 16px;
  color: #000;
  font-size: 14px;
}
main .wrapper .selection_frame .tab-content .brands ul li input {
  z-index: -1;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 100%;
  border: 1px solid #e4e4e4;
}
main .wrapper .selection_frame .tab-content .brands ul li input:checked {
  background-color: #fce6e6;
  border: 1px solid #f0878b;
}
main .wrapper .selection_frame .tab-content .brands ul li img {
  max-height: 32px;
}
main .wrapper .selection_frame .tab-content .brands ul.products_brands li {
  border: 1px solid #c5c5c5;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  justify-content: center;
  padding: 4px 16px;
  color: #000;
  font-size: 14px;
}
main .wrapper .selection_frame .tab-content .brands ul.products_brands li span {
  white-space: nowrap;
}
main .wrapper .selection_frame .tab-content .brands ul.products_brands li i {
  font-size: 18px;
  color: #d61842;
}
main .wrapper .selection_frame .tab-content .brands .rate .stars {
  gap: 4px;
}
main .wrapper .selection_frame .tab-content .brands .rate .stars li i {
  font-size: 12px !important;
}
main .wrapper .selection_frame .tab-content .addAll {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .wrapper .selection_frame .tab-content .addAll button {
  padding: 8px 32px;
}
main .model-wrap {
  overflow: hidden;
  height: calc(100vh - 164px);
  display: flex;
}
main .model-wrap img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
main .main-swipers-wrap {
  width: 100%;
  display: grid;
  border: 1px solid #eeeeee;
  border-right: 0;
  grid-template-columns: 1fr;
  height: 100px;
  position: relative;
}
main .main-swipers-wrap .selected_item {
  display: none;
  position: absolute;
  height: 100%;
  width: 130px;
  left: 0;
  top: 0;
  z-index: 9;
  background: #f4f4f4;
}
main .main-swipers-wrap .selected_item .item {
  width: 105px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
main .main-swipers-wrap .selected_item .item .icon img {
  mix-blend-mode: multiply;
  width: 44px;
}
main .main-swipers-wrap .selected_item .item h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}
main .main-swipers-wrap .selected_item .expand {
  background: #eaeaea;
  width: 25px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-swipers-wrap .selected_item .expand i {
  color: #777;
  cursor: pointer;
  font-size: 18px;
}
main .main-swipers-wrap .selected_item.show {
  display: flex;
}
main .main-swipers-wrap .swiper {
  width: 100%;
  height: 100%;
  display: flex;
}
main .main-swipers-wrap .swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  padding: 8px;
  background-color: fff;
  border-right: 1px solid #eeeeee;
  gap: 8px;
  transition: 0.3s ease-in-out;
}
main .main-swipers-wrap .swiper .swiper-slide .icon img {
  width: 44px;
  mix-blend-mode: multiply;
}
main .main-swipers-wrap .swiper .swiper-slide h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}
main .main-swipers-wrap .swiper .swiper-slide:hover {
  background: #fafafa;
}
main .main-swipers-wrap .categories-slider {
  grid-column: 1/3;
  grid-row: 1/3;
}
main .main-swipers-wrap .brands-slider {
  visibility: hidden;
  grid-column: 1/3;
  grid-row: 1/3;
  width: calc(100% - 130px);
  margin-left: 130px;
}
main .main-swipers-wrap .colors-slider {
  visibility: hidden;
  grid-column: 1/3;
  grid-row: 1/3;
  width: calc(100% - 130px);
  margin-left: 130px;
}
main .main-swipers-wrap .colors-slider .color-selct {
  width: 42px;
  height: 42px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}
main .main-swipers-wrap .colors-slider .color-selct:after {
  content: "";
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease-in-out;
}
main .main-swipers-wrap .colors-slider .color-selct:hover::after {
  border-color: #d7d7d7;
}
main .main-swipers-wrap .colors-slider .color-selct:checked::after {
  border-color: #000;
}
main .main-swipers-wrap.brands-show .categories-slider {
  visibility: hidden;
}
main .main-swipers-wrap.brands-show .brands-slider {
  visibility: visible;
}
main .main-swipers-wrap.colors-show .categories-slider {
  visibility: hidden;
}
main .main-swipers-wrap.colors-show .brands-slider {
  visibility: hidden;
}
main .main-swipers-wrap.colors-show .colors-slider {
  visibility: visible;
}
main .static-card {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
  padding: 16px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}
main .static-card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
  padding: 12px;
}
main .static-card .icon img {
  max-height: 40px;
}
main .static-card h4 {
  font-size: 18px;
  margin: 0;
  color: #000;
}
main .static-card p {
  color: #000;
  margin: 0;
}
main .static-card:hover {
  background: #d61842;
}
main .static-card:hover h4 {
  color: #fff;
}
main .static-card:hover p {
  color: #fff;
}
main .statistic-card {
  height: 100%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
  padding: 24px;
  border-radius: 12px;
}
@media (max-width: 576px) {
  main .statistic-card {
    padding: 16px;
  }
}
main .statistic-card h4 {
  font-size: 16px;
  color: #000;
}
main .login-section {
  background: #fff;
  height: 100vh;
  display: flex;
}
main .login-section .image {
  position: relative;
  width: 50%;
}
@media (max-width: 768px) {
  main .login-section .image {
    display: none;
  }
}
main .login-section .image img {
  width: 100%;
  height: 100%;
  -o-object-position: right;
     object-position: right;
  -o-object-fit: cover;
     object-fit: cover;
}
main .login-section .image .over-lay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5019607843), rgba(0, 0, 0, 0.5019607843));
}
main .login-section .form_wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 4rem;
  gap: 2rem;
  flex-direction: column;
}
@media (max-width: 992px) {
  main .login-section .form_wrapper {
    padding: 4rem 2rem;
  }
}
@media (max-width: 768px) {
  main .login-section .form_wrapper {
    width: 100%;
    padding: 4rem;
  }
}
@media (max-width: 576px) {
  main .login-section .form_wrapper {
    padding: 4rem 1.5rem;
  }
}
main .login-section .form_wrapper h1 {
  color: #000;
  font-size: 24px;
}
main .login-section .form_wrapper h1 span {
  color: #d61842;
  font-size: 32px;
}
main .login-section .form_wrapper form {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
main .login-section .form_wrapper form .input-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
main .login-section .form_wrapper form .input-field label {
  font-size: 12px;
}
main .login-section .form_wrapper form .input-field input {
  width: 100%;
  height: 50px;
  background: none;
  outline: none;
  border: 1px solid #eee;
  padding: 8px;
  direction: rtl;
  font-size: 12px;
  border-radius: 4px;
}
main .login-section .form_wrapper form .input-field input:focus {
  border-color: #cf112c;
}
main .login-section .form_wrapper form .check-field {
  display: flex;
  align-items: center;
  gap: 8px;
}
main .login-section .form_wrapper form .check-field label {
  font-size: 14px;
  color: #000;
}
main .login-section .form_wrapper form .check-field input {
  width: 16px;
  height: 16px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
main .login-section .form_wrapper form .check-field input::after {
  position: absolute;
  width: 16px;
  height: 16px;
  font-family: "FontAwesome";
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  content: "";
  border-radius: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #eee;
}
main .login-section .form_wrapper form .check-field input:checked::after {
  background: #d61842;
  content: "\f00c";
  border-color: #d61842;
}
main .login-section .form_wrapper form button {
  background: #cf112c;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 12px;
  color: #fff;
  transition: 0.3s ease-in-out;
}
main .login-section .form_wrapper form button:hover {
  background: #e2030f;
}
main .product-image-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  position: relative;
  border-radius: 12px;
}
main .product-image-wrapper img {
  width: 80%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 992px) {
  main .product-image-wrapper {
    height: 100%;
  }
  main .product-image-wrapper img {
    width: 100%;
  }
  main .product-image-wrapper .layer {
    top: initial !important;
    bottom: 24px !important;
  }
}
main .product-image-wrapper .layer {
  background: linear-gradient(180deg, rgba(7, 23, 78, 0) 23.76%, #d61842 90.19%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: 0.5s;
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
main .product-image-wrapper .layer a {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}
main .product-image-wrapper:hover .layer {
  opacity: 1;
  transform: scaleY(1);
}
main .product-description {
  padding: 0 12px;
  direction: ltr !important;
}
main .product-description h4,
main .product-description h6,
main .product-description p {
  direction: ltr !important;
  margin-bottom: 0;
}
main .product-description a {
  font-size: 14px;
  color: #d61842;
}
main .product-description a:hover {
  text-decoration: underline;
}
main .product-description h4 {
  font-size: 22px;
  color: #000;
  font-weight: 600;
  margin-bottom: 8px;
}
main .product-description .price {
  direction: ltr !important;
  display: flex;
  gap: 10px;
}
main .product-description .price p {
  margin: 0;
}
main .product-description .price .new {
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
main .product-description .price .old {
  font-size: 14px;
  color: #777;
  text-decoration: line-through;
}
main .product-description .price span {
  direction: ltr !important;
  color: #d61842;
  font-size: 12px;
}
main .product-description .color-name {
  margin-top: 1rem;
  color: #777;
  font-size: 14px;
  line-height: 22px;
}
main .product-description .size {
  line-height: 22px;
  color: #777;
  font-size: 14px;
}
main .product-description .color-palete {
  direction: ltr !important;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main .product-description .color-palete h6 {
  font-size: 12px;
  color: #000;
}
main .product-description .color-palete .colors {
  display: flex;
  direction: ltr;
  gap: 12px;
  flex-wrap: wrap;
}
main .product-description .color-palete .colors li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
main .product-description .color-palete .colors li .color-selct {
  width: 36px;
  height: 36px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}
main .product-description .color-palete .colors li .color-selct:after {
  content: "";
  width: 44px;
  height: 44px;
  border: 2px solid transparent;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease-in-out;
}
main .product-description .color-palete .colors li .color-selct:hover::after {
  border-color: #d7d7d7;
}
main .product-description .color-palete .colors li .color-selct:checked::after {
  border-color: #000;
}
main .product-description .color-palete .colors li.select-all {
  width: 36px;
}
main .product-description .color-palete .colors li .check::after {
  width: 36px;
  height: 36px;
  border-color: #c5c5c5;
  color: #c5c5c5;
  font-size: 18px;
  content: "\f00c";
}
main .product-description .color-palete .colors li .check:checked::after {
  border-color: #d61842;
  color: #fff;
}
main .product-description button {
  margin-top: 16px;
}
main .highlights {
  padding: 24px 0;
  border-top: 1px solid #eeeeee;
}
main .highlights:first-child {
  margin-top: 32px;
}
main .highlights h4 {
  direction: ltr;
  color: #000;
  padding: 12px;
}
main .highlights .hcard {
  direction: ltr;
  display: flex;
  align-items: center;
  gap: 8px;
}
main .highlights .hcard .icon {
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  background: #d61842;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .highlights .hcard .icon img {
  max-height: 36px;
}
main .highlights .hcard h6 {
  direction: ltr;
  font-size: 14px;
  color: #000;
  margin: 0;
}
main .highlights .about {
  padding: 0 12px;
}
main .highlights .about p {
  direction: ltr;
  color: #000;
  font-size: 14px;
}
main .highlights .about p span {
  font-weight: 600;
}
main.details {
  padding: 0.5rem 0;
}
main .advertisments_wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 99;
  display: none;
}
main .advertisments_wrap .close_wrap {
  position: absolute;
  right: 32px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 32px;
}
main .advertisments_wrap .close_wrap i {
  font-size: 26px;
  color: #fff;
}
main .advertisments_wrap .mainSlider {
  position: relative;
  overflow: hidden;
}
main .advertisments_wrap .mainSlider .mainSliderContainer {
  width: 100%;
  height: 100%;
}
main .advertisments_wrap .mainSlider .mainSliderContainer .swiper-slide {
  position: relative;
  display: flex;
  background: #000;
  align-items: end;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main .advertisments_wrap .mainSlider .mainSliderContainer .swiper-slide .videoContainer {
  position: absolute;
  overflow: hidden;
  z-index: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
main .advertisments_wrap .mainSlider .mainSliderContainer .swiper-slide img,
main .advertisments_wrap .mainSlider .mainSliderContainer .swiper-slide video {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.product_frame {
  background-color: #fafafa;
  height: 100%;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.product_frame .select-pro {
  position: absolute;
  top: 24px;
  left: 16px;
  cursor: pointer;
  z-index: 9;
}
.product_frame .controls {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  height: 50px;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  background: rgba(255, 255, 255, 0.95);
}
.product_frame .controls button {
  outline: none;
  border: none;
  background: none;
}
.product_frame .controls button i {
  color: #d61842;
}
.product_frame:hover .controls {
  width: 100%;
}
.product_frame .checkall {
  position: absolute;
  top: 24px;
  left: 16px;
  z-index: 999999999;
}
.product_frame .pro-img {
  width: 100%;
  position: relative;
}
.product_frame .pro-img img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
  object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.product_frame .pro-img .layer {
  background: linear-gradient(180deg, rgba(7, 23, 78, 0) 23.76%, #d61842 95.19%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: 0.5s;
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.product_frame .pro-img .layer a {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}
@media (max-width: 992px) {
  .product_frame .pro-img .layer a {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .product_frame .pro-img .layer {
    padding: 26px;
  }
  .product_frame .pro-img .layer a {
    font-size: 16px;
  }
}
.product_frame .pro-description {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  direction: ltr;
}
.product_frame .pro-description .brand_name {
  color: #d61842;
  direction: ltr;
  transition: 0.3s ease-in-out;
  font-size: 14px;
}
.product_frame .pro-description .brand_name:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .product_frame .pro-description .brand_name {
    line-height: 20px;
    font-size: 12px;
  }
}
.product_frame .pro-description .product_name {
  color: #000;
  direction: ltr;
  line-height: 24px;
  margin: 0;
  font-size: 16px;
}
@media (max-width: 576px) {
  .product_frame .pro-description .product_name {
    line-height: 20px;
    font-size: 12px;
  }
}
.product_frame .pro-description .colors-num {
  color: #7d7d7d;
  direction: ltr;
  line-height: 24px;
  margin: 0;
  font-size: 12px;
}
.product_frame .pro-description .price {
  direction: ltr;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.product_frame:hover .pro-img .layer {
  opacity: 1;
  transform: scaleY(1);
}

.product-modal .modal-dialog {
  max-width: 800px !important;
}
.product-modal .modal-dialog .modal-body .img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.product-modal .modal-dialog .modal-body .img .add-fav {
  position: absolute;
  top: 16px;
  left: 16px;
  cursor: pointer;
}
.product-modal .modal-dialog .modal-body .img .add-fav i {
  color: #000;
  font-size: 20px;
}
.product-modal .modal-dialog .modal-body .img img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.product-modal .modal-dialog .modal-body .img .layer {
  background: linear-gradient(180deg, rgba(7, 23, 78, 0) 23.76%, #d61842 90.19%);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: 0.5s;
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.product-modal .modal-dialog .modal-body .img .layer a {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}
.product-modal .modal-dialog .modal-body .img:hover .layer {
  opacity: 1;
  transform: scaleY(1);
}
.product-modal .modal-dialog .modal-body .product-description {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
}
.product-modal .modal-dialog .modal-body .product-description p,
.product-modal .modal-dialog .modal-body .product-description h6,
.product-modal .modal-dialog .modal-body .product-description span {
  direction: ltr !important;
  display: block;
  width: 100%;
  margin: 0;
}
.product-modal .modal-dialog .modal-body .product-description .brand_name {
  color: #d61842;
  transition: 0.3s ease-in-out;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-modal .modal-dialog .modal-body .product-description .brand_name:hover {
  text-decoration: underline;
}
.product-modal .modal-dialog .modal-body .product-description .brand_name .btn-close {
  box-shadow: none !important;
}
.product-modal .modal-dialog .modal-body .product-description .product_name a {
  color: #000;
  line-height: 24px;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
.product-modal .modal-dialog .modal-body .product-description .product_name a:hover {
  text-decoration: underline;
}
.product-modal .modal-dialog .modal-body .product-description .size {
  color: #7d7d7d;
  line-height: 24px;
  margin: 0;
  font-size: 12px;
}
.product-modal .modal-dialog .modal-body .product-description .price h6 {
  color: #000;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}
.product-modal .modal-dialog .modal-body .product-description .product_description {
  font-size: 14px;
  margin-bottom: 8px;
  color: #000;
  line-height: 24px;
}
.product-modal .modal-dialog .modal-body .product-description .color-name {
  font-size: 14px;
  color: #7d7d7d;
  line-height: 24px;
}
.product-modal .modal-dialog .modal-body .product-description .colors {
  display: flex;
  margin-top: 8px;
  direction: ltr;
  gap: 16px;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .product-modal .modal-dialog .modal-body .product-description .colors {
    gap: 12px;
  }
}
.product-modal .modal-dialog .modal-body .product-description .colors li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
}
.product-modal .modal-dialog .modal-body .product-description .colors li .color-selct {
  width: 36px;
  height: 36px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}
.product-modal .modal-dialog .modal-body .product-description .colors li .color-selct:after {
  content: "";
  width: 44px;
  height: 44px;
  border: 2px solid transparent;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease-in-out;
}
.product-modal .modal-dialog .modal-body .product-description .colors li .color-selct:hover::after {
  border-color: #d7d7d7;
}
.product-modal .modal-dialog .modal-body .product-description .colors li .color-selct:checked::after {
  border-color: #000;
}
.product-modal .modal-dialog .modal-body .product-description .colors li.select-all {
  width: 36px;
}
.product-modal .modal-dialog .modal-body .product-description .colors li .check::after {
  width: 36px;
  height: 36px;
  border-color: #c5c5c5;
  color: #c5c5c5;
  font-size: 18px;
  content: "\f00c";
}
.product-modal .modal-dialog .modal-body .product-description .colors li .check:checked::after {
  border-color: #d61842;
  color: #fff;
}
.product-modal .modal-dialog .modal-body .model-footer {
  display: flex;
  direction: ltr;
  align-items: center;
  gap: 24px;
}
.product-modal .modal-dialog .modal-body .model-footer .loves {
  color: #000;
  font-size: 14px;
}
.product-modal .modal-dialog .modal-body .model-footer .price h6 {
  color: #000;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

.colectionsModal .btn-close {
  box-shadow: none !important;
}
.colectionsModal .product_frame .pro-description .product_name {
  line-height: 22px;
  font-size: 14px;
}

.dlete-confirm-modal .modal-dialog .modal-body {
  padding: 24px;
}
.dlete-confirm-modal .modal-dialog .modal-body .icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dlete-confirm-modal .modal-dialog .modal-body .icon img {
  max-height: 40px;
}
.dlete-confirm-modal .modal-dialog .modal-body h4 {
  color: #000;
  text-align: center;
  font-size: 16px;
  margin: 4px;
}
.dlete-confirm-modal .modal-dialog .modal-body p {
  font-size: 13px;
  color: #777777;
  text-align: center;
  margin-bottom: 0.5rem;
}
.dlete-confirm-modal .modal-dialog .modal-body .modal-footer {
  padding: 16px 16px 0;
  border: 0;
  direction: ltr;
}
.dlete-confirm-modal .modal-dialog .modal-body .modal-footer .add_btn {
  padding: 4px 26px !important;
}
.dlete-confirm-modal .modal-dialog .modal-body .modal-footer .cancel {
  color: #000;
  background: none;
  outline: none;
  border: none;
  padding: 4px 26px;
}

.edit-modal .modal-dialog .modal-body {
  padding: 24px;
}
.edit-modal .modal-dialog .modal-body .icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-modal .modal-dialog .modal-body .icon img {
  max-height: 40px;
}
.edit-modal .modal-dialog .modal-body form {
  padding-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.edit-modal .modal-dialog .modal-body form .input-field {
  padding: 16px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #eeeeee;
  position: relative;
}
.edit-modal .modal-dialog .modal-body form .input-field label {
  display: block;
  position: absolute;
  background: #fff;
  top: -16px;
  color: #000;
  font-size: 14px;
  right: 12px;
}
.edit-modal .modal-dialog .modal-body form .input-field input {
  outline: none;
  border: none;
  background: none;
  width: 100%;
  font-size: 13px;
}
.edit-modal .modal-dialog .modal-body form .input-field input::-webkit-inner-spin-button {
  display: none;
}
.edit-modal .modal-dialog .modal-body form .input-field input[type=number] {
  text-align: center;
}
.edit-modal .modal-dialog .modal-body h4 {
  color: #000;
  text-align: center;
  font-size: 16px;
  margin: 4px;
}
.edit-modal .modal-dialog .modal-body p {
  font-size: 13px;
  color: #777777;
  text-align: center;
  margin-bottom: 0.5rem;
}
.edit-modal .modal-dialog .modal-body .modal-footer {
  padding: 16px 16px 0;
  border: 0;
  direction: ltr;
}
.edit-modal .modal-dialog .modal-body .modal-footer .add_btn {
  padding: 4px 26px !important;
}
.edit-modal .modal-dialog .modal-body .modal-footer .cancel {
  color: #000;
  background: none;
  outline: none;
  border: none;
  padding: 4px 26px;
}

.filepond--credits {
  display: none !important;
}

/*********** Globals ***********/
.check {
  width: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  cursor: pointer;
}
.check::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  content: "";
  font-family: "FontAwesome";
  width: 18px;
  height: 18px;
  border: 1px solid #d61842;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d61842;
}
.check:checked::after {
  content: "\f00c";
  background: #d61842;
  font-size: 12px;
  color: #fff;
  border-color: #d61842;
}

.delete {
  width: 20px;
  height: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate {
  display: flex;
  direction: ltr;
  align-items: center;
  gap: 8px;
}
.rate .stars {
  direction: ltr;
  display: flex;
  gap: 2px;
}
.rate .stars li i {
  color: #000;
  font-size: 14px;
}
.rate a {
  color: #d61842;
  font-size: 14px;
}
.rate a:hover {
  text-decoration: underline;
}

.add_btn {
  border: none;
  outline: none;
  background: #cf112c;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}
.add_btn:hover {
  background: #e2030f;
}
.add_btn.advertising {
  width: 30%;
  margin-top: 1rem;
}
@media (max-width: 576px) {
  .add_btn.advertising {
    width: 70%;
  }
}

.bg-gray {
  border-radius: 8px;
  padding: 8px !important;
}

.m-tb-60 {
  margin: 60px auto;
}
@media (max-width: 576px) {
  .m-tb-60 {
    margin: 16px;
  }
}

.advertising-main {
  height: calc(100vh - 120px);
  padding: 20px 0;
}
.advertising-main h1 {
  color: #000;
  font-size: 48px;
}
.advertising-main .uploader-lap {
  margin: 48px 0;
}

.dropify-wrapper .dropify-message p {
  margin: 28px 0 0 !important;
  font-weight: 400 !important;
  font-size: 32px !important;
}

.apexcharts-legend-series {
  display: flex;
  align-items: center;
  gap: 8px;
}

.apexcharts-menu-icon {
  display: none;
}

.mostusedbrands .apexcharts-legend.apx-legend-position-right {
  display: none;
}

.try-on-main {
  height: 100dvh;
  overflow: hidden;
}

.add-products-cart {
  position: fixed;
  right: 32px;
  bottom: 32px;
  width: 60px;
  height: 60px;
  background: #d61842;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
}
.add-products-cart i {
  color: #fff;
  font-size: 24px;
}
.add-products-cart span {
  position: absolute;
  background: #fff;
  color: #d61842;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  font-size: 12px;
  height: 18px;
  top: 10px;
  left: 10px;
}

.swiper-pagination-bullet {
  background: #c5c5c5 !important;
}/*# sourceMappingURL=style.css.map */